
@{
    ViewBag.Title = "Hata";
}

<h2></h2>

<div class="col-md-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <span class="mdi mdi-account-off"></span>
                <h1>Bu sayfaya erişim yetkiniz yoktur.</h1>
            </div>
        </div>
    </div>
